@import '../../index.scss';

.filters-list__item {
  font: 2em 'Open Sans', sans-serif;
  font-weight: 400;
}

.filters-list__text {
  font-size: 13px;
  cursor: pointer;
   margin-left: 5px;
}

.filters-list__item:hover {
  background-color: #f1fcff;
}

.myinput:before {
  position: relative;
  display: block;
  top: -2px;
  right: 7px;
  width: 20px;
  height: 20px;
  border: 1px solid $blue-color;
  content: '';
  background: $primary-color;
 
}

.myinput:checked:after {
  position: relative;
  display: block;
  content: '';
  left: -2px;
  top: -17px;
  width: 12px;
  height: 8px;
  border-radius: 1px;
  border-left: 2px solid $blue-color;
  border-bottom: 2px solid $blue-color;
  transform: rotate(-45deg);
}

.myinput:checked:hover:after {
  border-color: 1px solid $blue-color;
}

.myinput:hover:before {
  border-color: $blue-color;
}
